../main.py
venv/
/venv/
/venv
.idea
venv
*.idea
idea/workspace.xml
*__pycache__
__pycache__
media
db.sqlite3
.env
.git
.DS_Store
*.DS_Store
/static/
/static
static/
/media/
media/
/media
images
/images/
images/
/images
